{% load static %}
<div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-[25px]">
    <a
        href="{% url 'product-create' %}" 
        class="w-full h-full border border-gray-300 overflow-clip bg-white rounded-[30px] p-[20px] flex flex-col items-center justify-center gap-[10px] text-gray-600 font-semibold hover:bg-gray-200 cursor-pointer"
    >
        <i class="w-[72px] h-[72px]" data-feather="plus"></i>
        <p class="text-[20px]">Create New</p>
    </a>

    {% for product in products %}
        <a href="{% url 'product-view' product.id %}" class="relative w-full bg-white rounded-[30px] p-[20px] flex flex-col gap-[25px] hover:brightness-80">
            {% if product.image_path %}
                <img 
                    id="image_preview" 
                    src="{% if product and product.image_path %}{{ product.image_path.url }}{% endif %}" 
                    alt="Preview" 
                    class="w-full h-full object-cover rounded-[20px] {% if not product or not product.image_path %}hidden{% endif %}" 
                />
            {% else %}
                <div class="bg-gray-300 rounded-[20px] w-full aspect-square"></div>
            {% endif %}

            <div class="flex flex-col gap-[10px]">
                <p class="text-[20px] font-semibold">{{ product.name }}</p>
                <p class="text-[16px] font-semibold">RM {{ product.price|floatformat:2 }}</p>

                {% if show_delete %}
                    <form method="POST" action="{% url 'product-delete' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ product.id }}">

                        <button
                            type="submit"
                            class="absolute top-2 right-2 bg-red-500 w-[50px] h-[50px] text-white flex justify-center items-center rounded-full hover:bg-red-600 hover:brightness-80 cursor-pointer"
                        >
                            <i data-feather="trash" class="w-[20px] h-[20px] text-white"></i>
                        </button>
                    </form>
                {% endif %}
            </div>
        </a>
    {% empty %}
        <p>No products have been added yet.</p>
    {% endfor %}
</div>