{% extends 'auth.html' %}
{% block authcontent %}

<div class="w-full h-[50vh] flex flex-col gap-[30px]">
    <div class="w-full">
        <h3 class="text-xl font-semibold">Welcome Back To AoiPos</h3>
        <p class="text-gray-600">Fill in the form details to log in.</p>
    </div>

    <div class="grow overflow-y-scroll">
        <form action="" method="POST">
            <div class="w-full flex flex-col gap-[20px]">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="text-red-500 font-medium text-sm">
                        {{ form.non_field_errors.0 }}
                    </div>
                {% endif %}

                <div class="w-full">
                    <label for="" class="font-semibold text-gray-600 mb-1">Email</label>
                    {{ form.email }}
                </div>
                
                <div class="w-full">
                    <label for="" class="font-semibold text-gray-600 mb-1">Password</label>
                    {{ form.password }}
                </div>
        
                <input
                    class="w-full h-[46px] flex justify-center items-center bg-linear-to-r from-[#84D6FF] to-[#5188FF] font-white text-white rounded-full hover:brightness-90 cursor-pointer"
                    value="Login" 
                    type="submit"
                />
            </div>
        </form>
    </div>

    <a class="text-gray-600" href="{% url 'register' %}">
        Haven't registered? 
        <span class="font-semibold underline">Click here.</span>
    </a>
</div>

{% endblock %}
